.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
  padding: 16px 12px;
}

@media (min-width: 375px) {
  .header {
    margin-bottom: 16px;
    padding: 24px;
  }
}