name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: ${{ matrix.task.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        task:
          - { name: "Lint", cmd: "pnpm lint" }
          - { name: "Typecheck", cmd: "pnpm tsc" }
          - { name: "Unit Tests", cmd: "pnpm test run --coverage --passWithNoTests" }

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
          cache: 'pnpm'
          registry-url: 'https://npm.pkg.github.com'

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Cache Assets (Prisma & Vitest)
        id: asset-cache
        uses: actions/cache@v5
        with:
          path: |
            node_modules/.prisma
            .vitest
          key: assets-${{ runner.os }}-${{ hashFiles('prisma/schema.prisma', 'vitest.config.ts') }}

      - name: Generate Prisma
        if: steps.asset-cache.outputs.cache-hit != 'true'
        run: pnpm prisma generate

      - name: Run Task
        run: ${{ matrix.task.cmd }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_ENV: test